[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tensorflow = ">=2.0.0a0"
dependency-injector = ">=3.14.12"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
tox = "*"
twine = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
recommonmark = "*"
docstr-coverage = "*"
dial-core = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "pipenv run pre-commit run --all"
tests = "pipenv run pytest --cov"
build = "pipenv run python setup.py sdist bdist bdist_wheel"
deploy = "pipenv run twine upload dist/*"
cloc = "cloc --exclude-dir='.mypy_cache' dial-core"
doc-coverage = "pipenv run docstr-coverage -fi dial-core"
